@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --svg-icons-size: 26px;
  --weight-font: bold;
  --sidebar-items-gap: 17px;
  --main-blue-color: #1992d4;
  --main-font-color: white;
  --main-font-size: 18px;
  --main-content-text-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

img {
  clip-path: circle(50%);
  width: 50px;
  height: auto;
}

.sidebar {
  grid-row: 1 / 3;
  color: var(--main-font-color);
  font-weight: bold;
  background-color: var(--main-blue-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--sidebar-items-gap);
}

.logo svg {
  fill: white;
  height: 45px;
  width: 45px;
}

ul {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  gap: var(--sidebar-items-gap);
}

ul svg {
  fill: white;
  height: var(--svg-icons-size);
  width: var(--svg-icons-size);
}

ul li {
  list-style: none;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 20px 40px;
  gap: 20px;
}

.upper-header,
.lower-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

input,
.bottom-nav-buttons button {
  border-style: none;
  font-weight: var(--weight-font);
}

input {
  border-radius: 15px;
  width: 45vw;
  background-color: #e2e8f0;
  height: 28px;
}

input:focus {
  outline: 2px solid black;
  font-weight: var(--weight-font);
}

.upper-header svg {
  height: var(--svg-icons-size);
  width: var(--svg-icons-size);
}

.user-name {
  font-weight: var(--weight-font);
  font-size: var(--main-font-size);
}

.user-pfp img {
  width: 70px;
  height: auto;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: var(--weight-font);
  font-size: 14px;
}

.user-presentation > p + p {
  font-size: 25px;
}

.bottom-nav-buttons{
  display: flex;
  gap: 25px;
}

.bottom-nav-buttons button {
  background-color: var(--main-blue-color);
  color: var(--main-font-color);
  width: 100px;
  padding: 12px 24px;
  border-radius: 19px;
  font-size: 14px;
}

.main-content {
  background-color: #e2e8f0;
  padding: 30px 50px 30px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.container-your-projects,
.container-announcements,
.container-trending {
  border: 1px solid red;
}

.container-your-projects{
  grid-row: 1 / 3;
}

.your-projects {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  display: grid;
  grid-template-columns: 9px 1fr;
  border-radius: 10px;
  overflow: hidden;
}

.project-side {
  background: #f0b429;
}

.project-content {
  background: white;
  min-height: 190px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-buttons {
  align-self: flex-end;
  display: flex;
  gap: 30px;
}

.project-text h3 {
  font-size: var(--main-font-size);
}

.project-text p,
.announcement-content p,
.trending-text p{
  color: #646464;
}

.project-text p {
  margin-top: 4px;
  font-size: var(--main-content-text-size);
}

.project-buttons svg {
  height: var(--svg-icons-size);
  width: var(--svg-icons-size);
}